@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #71C9CE;
  --secondary: #DAEAF1;
  --background: #E3FDFD;
  --foreground: #222831;
}

.dark {
  --background: #393E46;
  --foreground: #EEEEEE;
  --primary: #9DB2BF;
  --secondary: #526D82;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}